In [ ]:
#insert 範例
import mysql.connector
from datetime import timedelta, date
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

cnx = mysql.connector.connect(user='threela', password='123456',
                              host='10.120.31.4',
                              database='threela')
cursor = cnx.cursor()
add_time = ("INSERT INTO time "
               "(TimeId,Year,Month,Day,Week,WeekOfYear,WeekOfMonth,Date) "
               "VALUES (%s,%s,%s,%s,%s,%s,%s,%s)")
start_date = date(2000, 1, 1)
end_date = date(2021, 1, 1)
data=[]
for single_date in daterange(start_date, end_date):
    print single_date.strftime("%Y-%m-%d")
    timeid=int(single_date.strftime("%Y%m%d"))
    year=single_date.year
    month=single_date.month
    day=single_date.day
    week=single_date.weekday()
    woy=single_date.isocalendar()[1] # week of year
    wom=(single_date.day-1)//7+1 #week of month
    date_str=single_date.strftime("%Y-%m-%d")
    data_time = (timeid,year,month,day,week,woy,wom,date_str)
    data.append(data_time)
r=cursor.executemany(add_time, data)
cnx.commit()
print r
cursor.close()
cnx.close()

In [ ]:
'''
from calendar import Calendar, SUNDAY

cal=Calendar()
#print list(cal.itermonthdates(2015,1))
#print list(cal.itermonthdays2(2015,1))
#print list(cal.itermonthdays(2015,1))
#print cal.monthdatescalendar(2015,1)
print cal.yeardayscalendar(2015,1)
#print cal.yeardatescalendar(2015,1)[0][0][0][0]
'''

In [ ]:
'''
from datetime import timedelta, date

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

start_date = date(2013, 1, 1)
end_date = date(2015, 6, 2)
for single_date in daterange(start_date, end_date):
    print single_date.strftime("%Y%m%d"), single_date.isocalendar()[1]
'''

In [3]:
from datetime import timedelta, date

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

start_date = date(2015, 1, 1)
end_date = date(2015, 6, 2)
for single_date in daterange(start_date, end_date):
    print single_date.strftime("%Y%m%d"), (single_date.day-1)//7+1,int(single_date.strftime("%W"))

20150101 1 0
20150102 1 0
20150103 1 0
20150104 1 0
20150105 1 1
20150106 1 1
20150107 1 1
20150108 2 1
20150109 2 1
20150110 2 1
20150111 2 1
20150112 2 2
20150113 2 2
20150114 2 2
20150115 3 2
20150116 3 2
20150117 3 2
20150118 3 2
20150119 3 3
20150120 3 3
20150121 3 3
20150122 4 3
20150123 4 3
20150124 4 3
20150125 4 3
20150126 4 4
20150127 4 4
20150128 4 4
20150129 5 4
20150130 5 4
20150131 5 4
20150201 1 4
20150202 1 5
20150203 1 5
20150204 1 5
20150205 1 5
20150206 1 5
20150207 1 5
20150208 2 5
20150209 2 6
20150210 2 6
20150211 2 6
20150212 2 6
20150213 2 6
20150214 2 6
20150215 3 6
20150216 3 7
20150217 3 7
20150218 3 7
20150219 3 7
20150220 3 7
20150221 3 7
20150222 4 7
20150223 4 8
20150224 4 8
20150225 4 8
20150226 4 8
20150227 4 8
20150228 4 8
20150301 1 8
20150302 1 9
20150303 1 9
20150304 1 9
20150305 1 9
20150306 1 9
20150307 1 9
20150308 2 9
20150309 2 10
20150310 2 10
20150311 2 10
20150312 2 10
20150313 2 10
20150314 2 10
20150315 3 10
20150316 3 11
20150317 3 11
20150318 3 11
20150319 3 11
20150320 3 11
20150321 3 11
20150322 4 11
20150323 4 12
20150324 4 12
20150325 4 12
20150326 4 12
20150327 4 12
20150328 4 12
20150329 5 12
20150330 5 13
20150331 5 13
20150401 1 13
20150402 1 13
20150403 1 13
20150404 1 13
20150405 1 13
20150406 1 14
20150407 1 14
20150408 2 14
20150409 2 14
20150410 2 14
20150411 2 14
20150412 2 14
20150413 2 15
20150414 2 15
20150415 3 15
20150416 3 15
20150417 3 15
20150418 3 15
20150419 3 15
20150420 3 16
20150421 3 16
20150422 4 16
20150423 4 16
20150424 4 16
20150425 4 16
20150426 4 16
20150427 4 17
20150428 4 17
20150429 5 17
20150430 5 17
20150501 1 17
20150502 1 17
20150503 1 17
20150504 1 18
20150505 1 18
20150506 1 18
20150507 1 18
20150508 2 18
20150509 2 18
20150510 2 18
20150511 2 19
20150512 2 19
20150513 2 19
20150514 2 19
20150515 3 19
20150516 3 19
20150517 3 19
20150518 3 20
20150519 3 20
20150520 3 20
20150521 3 20
20150522 4 20
20150523 4 20
20150524 4 20
20150525 4 21
20150526 4 21
20150527 4 21
20150528 4 21
20150529 5 21
20150530 5 21
20150531 5 21
20150601 1 22

In [8]:
from datetime import timedelta, date
import calendar,datetime
def week_of_month(tgtdate):

    days_this_month = calendar.mdays[tgtdate.month]
    for i in range(1, days_this_month):
        d = datetime.date(tgtdate.year, tgtdate.month, i)
        if d.day - d.weekday() > 0:
            startdate = d
            break
    # now we canuse the modulo 7 appraoch
    return (tgtdate - startdate).days //7 + 1
tgtdates = [datetime.date(2015, 1, 1),
            datetime.date(2015, 1, 5)
            ]

for tgtdate in tgtdates:
    print tgtdate,
    print "is in week %s" % week_of_month(tgtdate)

2015-01-01 is in week 0
2015-01-05 is in week 1