In [7]:
#select 範例

import mysql.connector

cnx = mysql.connector.connect(user='threela', password='123456',
                              host='10.120.31.4',
                              database='threela')
cursor = cnx.cursor()
query = ("SELECT * FROM threela.tmp")
cursor.execute(query)

for(id,name,birthday) in cursor:
    print name,birthday

cursor.close()
cnx.close()

joshua 1983-07-17
john 1983-08-24
mary 1999-09-21

In [9]:
#insert 範例
import mysql.connector

cnx = mysql.connector.connect(user='threela', password='123456',
                              host='10.120.31.4',
                              database='threela')
cursor = cnx.cursor()
add_tmp = ("INSERT INTO tmp "
               "(name, birthday) "
               "VALUES (%s, %s)")
data_tmp = ('Justin', '19850805')

cursor.execute(add_tmp, data_tmp)
cnx.commit()

cursor.close()
cnx.close()

In [13]:
#update 範例
import mysql.connector

cnx = mysql.connector.connect(user='threela', password='123456',
                              host='10.120.31.4',
                              database='threela')
cursor = cnx.cursor()
add_tmp = ("UPDATE tmp "
            "set name= %s,birthday=%s"
            " where id=1")
data_tmp = ('JoshuaChien', '19830824')

cursor.execute(add_tmp, data_tmp)
cnx.commit()

cursor.close()
cnx.close()